.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block !important;
}

a, a:hover, a:visited {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: 1px black solid;
  background-color: black;
  color: white !important;
  text-decoration: none;
  border-radius: 20%;
  padding: 0.5rem;
}
